.idea
ch02/node_modules/**
ch03/node_modules/**
ch04/video-streaming/node_modules/**
ch04/azure-storage/node_modules/**
ch05/video-streaming/node_modules/**
ch05/history/node_modules/**
ch05/recommendations/node_modules/**
ch06/video-streaming/node_modules/**